// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  padding: 5px 60px;
}

.offer-list {
  overflow: hidden;
  list-style: none;
}

#offers {
  margin-top: -50px;
  background: image-url('maple.jpg');
}

.offer {
  float: left;
  height: 490px;
  margin: 40px 0;
}

.offer-image {
  height: 250px;
}

.offer-name {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4em;
}

.offer-desc {
  text-align: center;
  font-size: 1.1em;
  padding: 0 10px 0;
}

.offer-exp {
  text-align: center;
  font-size: .8em;
}

.task-list {
  overflow: hidden;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.task {
  display: inline-block;
  margin: 5px;
  background: image-url('img_how-token-sprite2.png');
  height: 100px;
  width: 100px;
  &:hover {
    background-position:0px -1414px;
    .amount {
      opacity: 1;
    }
  };
}

.amount {
  opacity: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin-top: 40px;
}

/*task types*/

.poll {
  background-position:0px 0px;
}
.getting_to_know_you {
  background-position:0px -101px;
}
.poll_multi {
  background-position:0px -202px;
}
.how_to {
  background-position:0px -303px;
}
.fact {
  background-position:0px -404px;
}
.social{
  background-position:0px -505px;
}
.do_gooder {
  background-position:0px -606px;
}
.video {
  background-position:0px -707px;
}
.twitter {
  background-position:0px -808px;
}
.quiz {
  background-position:0px -909px;
}
.testify {
  background-position:0px -1010px;
}
.friends {
  background-position:0px -1111px;
}
.approval {
  background-position:0px -1212px;
}
.recipe {
  background-position:0px -1313px;
}

